.main
    height: 100vh
    font-family: Montserrat
    display: flex
    flex-direction: column
    justify-content: center
    box-sizing: border-box
    & > div 
        font-size: 4rem
        font-weight: bold
        margin: .5rem 0
        position: relative
    \:global .letter
        position: relative

.love *
    color: #E83F3F


.line
    position: relative
    overflow: hidden

div.line1
    margin-bottom: 1em