<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <div class="featured-post-author">
              <img src="{{ $.Site.Params.authorThumb | absURL }}" alt="author" />
              <p>By <a href={{ "about" | absURL }}>{{ $.Site.Params.author }}</a></p>
            </div>
            <h2 class="featured-post-title">
                I'm passionately curious <br/>
                and I <span class="text-danger" >love</span> to code. 
            </h2>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
