.navbar
    height: 5em
    position: fixed
    top: 0
    width: 100%
    z-index: 100
    border-bottom: 1px solid var(--border-color-light, --border-color);
    background: var(--bg-color)

.inner
    padding: 2em 3em
    display: flex
    align-items: center
    margin: 0 auto
    max-width: 1300px
    box-sizing: border-box
    justify-content: space-between

.right
    a
        margin-right: 1.5em;
        text-decoration: none
    button
        background: none
        border: none
        outline: none
        cursor: pointer
